# --- Entornos y Archivos de Python ---
**/__pycache__/
**/*.py[cod]
**/venv/
**/.venv/
**/.env
**/.env.*
**/.ness-venv/

# --- Binarios y Compilaciones de Python (PyInstaller, etc) ---
**/build/
**/dist/
**/*.spec

# --- Binarios y Compilaciones de Rust ---
**/target/
**/Cargo.lock.install

# --- Carpetas de construccion del relay (NO subir) ---
# ness_relay/python/
# ness_relay/rust/

# --- Binarios ya construidos (NO subir) ---
ness_relay/ness_relay_python/executables/ness-relay-ubuntu
ness_relay/ness_relay_rust/executables/ness-relay

# --- Salidas y Logs ---
ness_relay/**/output/
*.log
*.log.*

# --- Archivos de Sistema y Entornos de Desarrollo ---
.DS_Store
.vscode/
**/.idea/

**/txts/
# --- Ignora todos los archivos archivos .txt del repositorio
*.txt 